# Default ignored files
/../../../../../programação/JavaScript/nextjs/to-do/.idea/shelf/
/../../../../../programação/JavaScript/nextjs/to-do/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../programação/JavaScript/nextjs/to-do/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../programação/JavaScript/nextjs/to-do/.idea/dataSources/
/../../../../../programação/JavaScript/nextjs/to-do/.idea/dataSources.local.xml
